.rectangle_1392_funding {
  width: 425px;
  height: 313px;
  background-color: var(--terms_light_bg);
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.group_1816_funding {
  margin-top: 27px;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 12.58px;
  position: relative;
}

.group_1816_funding span {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.group_1816_funding input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #1d2731;
  width: 97%;
  height: 37.75px;
  padding-left: 20.24px;
  color: var(--intrest_special);
}

.group_1816_funding img {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 33.71px;
  right: 39.97px;
  z-index: 99;
  cursor: pointer;
}

.group_1815_funding {
  margin-top: 12.58px;
  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  gap: 12.58px;
  position: relative;
}

.funding_title {
  display: flex;
  gap: 13.1px;
}

.funding_title span {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.group_1815_funding input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #1d2731;
  width: 100%;
  height: 37.75px;
  padding-left: 20.24px;
  color: var(--intrest_special);
}

.span_div_funding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10.97px;
}

.last_span {
  display: flex;
  flex-direction: row;
}

.last_content {
  width: 103.6px;
  height: 14.68px;
  display: flex;
  justify-content: flex-end;
}

.span_div_funding span {
  color: var(--intrest_special);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.span_div_funding span span {
  color: white;
}
