.navbar {
  width: 100%;
  height: 2.75rem;
  background-color: var(--primary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar img {
  width: 171px;
  height: 43px;
}

.jonathan_smith {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 0;
  right: 160px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.jonathan_smith_name span {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.jonathan_smith_expand {
  cursor: pointer;
}
.navbar_main {
  width: 100%;
  height: 2.75rem;
  background-color: var(--primary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar_main img {
  width: 99px;
  height: 15px;
  margin-left: 20px;
}

.navbar_main .left_nav {
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 42px;
  border-right: 1px solid #1d2328;
  align-items: center;
}

.navbar_main .left_nav .none{
  display: none;
}

.navbar_main .left_nav svg {
  font-size: 15px;
  cursor: pointer;
  color: white;
  margin: 0 27px;
}

.right_nav .right_nav_links {
  margin-right: 447px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.right_nav .right_nav_links a {
  text-decoration: none;
  color: var(--intrest_special);
}

.right_nav .right_nav_links .active {
  color: white;
  border-bottom: 1px solid var(--secondary);
}

.jonathan_smith {
  position: absolute;
  width: 265px;
  height: 43px;
  top: 0;
  right: 160px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.07);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.jonathan_smith_name span {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.jonathan_smith_expand {
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .navbar {
    justify-content: flex-start;
  }
  .navbar_main {
    justify-content: flex-start;
  }
  .right_nav .right_nav_links{
    margin-left: 20px;
    margin-right: 0;
  }

  .jonathan_smith {
    width: 12rem;
    right: 100px;
  }

  .jonathan_smith_name {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px){
  .right_nav{
    position: fixed;
    bottom: 0px;
    z-index: 99;
    width: 100%;
    height: 44px;
    background-color: #1d2328;
    display: flex;
    align-items: center;
  }

  .right_nav_links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  .left_nav{
    border: none !important;
  }
}

@media screen and (max-width: 480px) {
  .jonathan_smith {
    width: 10rem;
    right: 0;
  }

  .jonathan_smith_name span {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .jonathan_smith {
    width: 8rem;
    right: 0;
  }

  .jonathan_smith_name span {
    font-size: 7px;
  }
}
