.balance_content{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 23px;
    gap: 30px;
    border-bottom: 1px solid var(--intrest_special);
}

.balance_content .balance_content_logo img{
    width: 36px;
    height: 36px;
}

.balance_content_detail{
    display: flex;
    flex-direction: column;
}