*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

:root{
    --primary: #0c1218;
    --secondary: #88C800;
    --terms_btn_txt: #365000;
    --terms_light_bg: #141D25;
    --preference_title: #2E3E4D;
    --intrest_special: #39495A;
}