.funding_container {
  background-color: var(--primary);
  height: 856px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  position: relative;
}


.rectangle_1392_funding_success {
  width: 425px;
  height: 299px;
  background-color: var(--terms_light_bg);
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
}

.rectangle_1392_funding_success .success_bold {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}
.rectangle_1392_funding_success .success_message {
  color: #7c95ae;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-top: 16px;
}

.success_logo img {
  margin-top: 50px;
}






.rectangle_429 {
  width: 425px;
  height: 57px;
  background: rgba(136, 200, 0, 0.08);
  border-radius: 6px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.rectangle_429 .loader_funding img {
  width: 28px;
  height: 28px;
}

.rectangle_429 .loader_funding {
  margin-left: 13px;
  margin-top: 10px;
}

.rectangle_429 span {
  margin-top: 15px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #628121;
}

.skip_text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-top: 40px;
  color: #496178;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.arrows {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 39.49px;
  right: 29.97px;
}

.arrows svg {
  width: 9.43px;
  height: 9px;
  color: #39495a;
  cursor: pointer;
}

.zigzag_vertical_funding {
  width: 276px;
  height: 276px;
  position: absolute;
  right: 137px;
  top: 609px;
  display: flex;
  flex-direction: row;
}

.zigzag_vertical_funding img {
  height: 276px;
  width: 137.98px;
}

@media screen and (max-width: 980px) {
  .funding_container {
    height: 800px;
  }
  .zigzag_vertical_funding {
    right: 40px;
    height: 150px;
    width: 150px;
    top: 660px;
  }
  .zigzag_vertical_funding img {
    height: 150px;
    width: 74.98px;
  }
}

@media screen and (max-width: 480px) {
  .rectangle_1392_funding {
    width: 270px;
  }

  .group_1816_funding input[type="text"] {
    width: 240px;
  }
  .group_1815_funding input[type="text"] {
    width: 240px;
  }
  .funding_button {
    width: 230px;
  }
  .rectangle_429 {
    width: 270px;
  }
  .rectangle_1392_funding_success {
    width: 270px;
  }
  .funding_success_button {
    width: 230px;
  }
}
